/* reset css start*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*reset css end*/

/*CSS All*/
*{
    box-sizing: border-box;
}

/*CSS Start*/

.container{
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
}

/*Font Family */

@font-face {
    font-family: 'WorkSans';
    src:  url('../assets/fonts/AnyConv.com__WorkSans-Regular.woff') format('woff'),
          url('../assets/fonts/AnyConv.com__WorkSans-Regular.woff2') format('woff2');
}

/*Cols Classes*/

.col-6{
    width: calc(100%/2);
}
.col-4{
    width: calc(100%/4);
    min-width: 321px;
}
/*Min-Width For Card Section*/
.min-w-px{
    min-width: 357px;
}
.min-w-px1{
    min-width: 371px;
}
/*Font-Size*/
.fs-14{
    font-size: 14px;
}
.fs-18{
    font-size: 18px;
}
.fs-27{
    font-size: 27px;
}
.fs-45{
    font-size: 45px;
}
.fs-48{
    font-size: 48px;
}
.fs-73{
    font-size: 73px;
}
.mx-auto{
    margin: 0 auto;
}
/*Colors*/
.txt-gray{
    color: #6e757a;
}
.primary-blue{
    color: #314584;
}
.primary-orange{
    color: #ff3946;
}
.bg-og{
    background: #ff3946;
}
.txt-white{
    color: #ffffff;
}
.bg-white{
    background: #ffffff;
}

/*Font-Family*/
.ff-work-sans{
    font-family: WorkSans;
}

/*Display Properties*/

.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.justify-start{
    justify-content: flex-start;
}
.justify-end{
    justify-content: end;
}
.justify-evenly{
    justify-content: space-evenly;
}
.justify-sb{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.align-start{
    align-items: flex-start;
}
.flex-col{
    flex-direction: column;
}

/*Position*/
.ps-abs{
    position: absolute;
}
.ps-rel{
    position: relative;
}
/*Border None & Border-Radius 0*/
.border-0{
    border: none;
}
.br-0{
    border-radius: 0;
    filter: none;
}
.bg-transperent{
    background: transparent;
}

/*gap*/
.g-78{
    gap: 78px;
}
.g-44{
    gap: 44px;
}
.g-39{
    gap: 39px;
}
.g-218{
    gap: 218px;
}
.pt-110{
    padding-top: 110px;
}
.pt-210{
    padding-top: 210px;
}
.mt-62{
    margin-top: 62px;
}
.mt-44{
    margin-top: 44px;
}
.mt-42{
    margin-top: 42px;
}
.mt-39{
    margin-top: 39px;
}
.mt-31{
    margin-top: 31px;
}
.mt-23{
    margin-top: 23px;
}
.lh-24{
    line-height: 24px;
}
.lh-30{
    line-height: 30px;
}
.lh-65{
    line-height: 65px;
}
.fw-600{
    font-weight: 600;
}
.head-sec{
    margin-top: 50px;
    margin-left: 123px;
    margin-right: 177px;
}
.main-heading{
    letter-spacing: 1px;
    line-height: 96px;
}
.link{
    text-decoration: none;
}

.link:hover{
    color: black;
}

.btn-contact{
    padding: 16px 68px 18px 34px;
    background: #ffff;
    border-radius: 5px;
    filter: drop-shadow(0px 5px 5px rgba(25,45,51,0.15));
    background-color: #ffffff;
    border: none;
    font-family: WorkSans;
    font-size: 18px;
    line-height: 21px;
    font-weight: 600;
    position: relative;
}
.btn-contact:hover{
    cursor: pointer;
    background: #f54b57;
    color: #ffff;
}
.btn-contact::after{
    content: '';
    width: 30px;
    height: 19px;
    background: url('../assets/images/Arrow.svg');
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 25px;
    background-size: cover;
    background-repeat: no-repeat;
}
.btn-contact:hover::after{
    background: url('../assets/images/Arrow_hover.svg');
}

.btn-about{
    padding: 16px 40px;
    border: none;
    border-radius: 25px;
    filter: drop-shadow(0px 5px 5px rgba(255,57,70,0.15));
    cursor: pointer;
}

.btn-about:hover{
    background: #314584;
    color: #ffffff;
}
.touch:hover{
    background: transparent;
    color: #ff3946;
}

.img::before{
    content: '';
    width: 925px;
    height: 988px;
    background: url('../assets/images/Bg_Shape.svg');
    position: absolute;
    top: 54%;
    right: 0;
    transform: translate(0,-50%);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}
.img-vector{
    margin-left: 206px;
}
.card-details{
    filter: drop-shadow(0px 5px 5px rgba(25,45,51,0.15));
    background-color: #ffffff;
    padding: 30px 77px 50px 22px;
}
img{
    max-width: 100%;
}
.txt-center{
    text-align: center;
}

.news{
    padding: 30px 39px 105px 44px;
    filter: drop-shadow(0px 5px 5px rgba(25,45,51,0.15));
}